## Types

The main types in python are:

- Float (decimal point): 1.2, 3.0, 5.123

- Integers: 1, 7, 11

- String (text): 'banana', 'Utah', 'Rebecca' etc

- Boolean (True/False): True or False

### Numeric types

Let's define a variable y

In [1]:
y = 2 * 3.2 + 1

In [2]:
# look at y. What do you think its type is?
y

7.4

We can check the type of `y` using the `type()` funciton

In [3]:
# apply the type function to the variable y
type(y)

float

Let's also create a variable `z` and check its type:

In [4]:
z = 1 + 5
# what type do you think z has?
z

6

In [5]:
# check the type of z using type()
type(z)

int

You can do mathematical operations with float and integer type objects

In [6]:
# compute y squared
y ** 2

54.760000000000005

In [7]:
# divide z by 2
z / 2

3.0

### String types

"String" in Python just means "text", so string type objects contain text, and can be identified because they are surrounded by quotes:

In [8]:
# define w to contain the string 'John Doe'
w = 'John Doe'
# look at the value of w
w

'John Doe'

What do you think will happen when you try to **multiply** a string by an *integer*?

In [9]:
# Multiply w by 7
w * 7

'John DoeJohn DoeJohn DoeJohn DoeJohn DoeJohn DoeJohn Doe'

What about **adding** a string and an *integer*?

In [10]:
# Add w and 7
w + 7

TypeError: can only concatenate str (not "int") to str

What about **adding** a string to another *string*?

In [11]:
# add w and the string 'Smith'
w + ' Smith'

'John Doe Smith'

Let's overwrite `w` with a new string value: 'banana'. Notice that we need 'banana' to be surrounded by quotes. The quotes around the string values are very important since they distinguish string *values* from variable *names*:

In [12]:
# redefine w to contain 'banana'
w = 'banana'

In [13]:
# look at w
w

'banana'

In [14]:
# check the type of w
type(w)

str

Note that you can also use the type function on *values* directly (rather than on variables):

In [15]:
# check the type of the string value 'a' ('a' is not assigned to a variable)
type('a')

str

### Boolean type

The boolean type corresponds to binary True/False values:

In [16]:
# Write the boolean True value
True

True

Note that `True` above, is a special value, it's not a variable name. You can't just write any text and expect it to be printed out.

Let's check the type of `True`

In [17]:
# check the type of True
type(True)

bool

Notice that this is different from the type of `'True'`:

In [18]:
# check the type of 'True'
type('True')

str

The converse to `True` is `False`:

In [19]:
# write the boolean False value
False

False

In [20]:
# check the type of False
type(False)

bool

You can assign boolean values to variables, just as with integers/floats and strings:

In [21]:
# assign True to the variable a
a = True

In [22]:
# print out the value of a
a

True

You can do mathematical operations with boolean values:

In [23]:
# add a and 3
a + 3

4

In [24]:
# add False and 4
False + 4

4

Here, `True` behaves as `1`, whereas `False` behaves as `0`.

Note that you *cannot* add Boolean values and string values together:

In [25]:
# try to add True and 'True'
True + 'True'

TypeError: unsupported operand type(s) for +: 'bool' and 'str'

### Exercise

Without running the following code cells, answer the following questions:

1. Will the computation work? 

1. If so, what will the output be? 

1. What type will the output have?

In [26]:
'True' * 4

'TrueTrueTrueTrue'

In [27]:
'banana' + 'apple'

'bananaapple'

In [28]:
False + 5

5

In [29]:
True * 'True'

'True'

In [30]:
5 + '5.2'

TypeError: unsupported operand type(s) for +: 'int' and 'str'