## Type conversion

Objects of one type can be converted to another type using a collection of functions whose names match the type shorthand you want to convert to.

As a reminder, the `type()` function tells us the type of a value::

In [1]:
# check the type of '4'
type('4')

str

In [2]:
# check the type of 4:
type(4)

int

The `str()` function will convert whatever value it is given to a string (whose shorthand is `str`). 

Below, we convert the integer `4` to a string, assign it to a variable called `a` and then we check the type of `a` (which is `str`):

In [3]:
# convert the integer 4 to a string and assign it to a variable a:
a = str(4)

In [4]:
# check the type of a
type(a)

str

Rather than assigning `str(4)` to a, and then checking the type of `a` directly, we can use nested functions:

In [5]:
# in one line, convert the integer 4 to a string and check its type
type(str(4))

str

Converting the float `3.0` to an integer removes the decimal point:

In [6]:
# convert the float 3.0 to an integer
int(3.0)

3

When you do the same thing for a float point number with a non-zero decimal, it also just removes the decimal point:

In [7]:
# convert the float 4.2 to an integer
int(4.2)

4

What happens when you try to convert a string to an integer?

In [8]:
# Convert the string 'two' to an integer
int('two')

ValueError: invalid literal for int() with base 10: 'two'

When you convert a number to a boolean using `bool()`, it is always converted to `True`, unless the number is equal to `0` (this is the only number that is converted to `False`):

In [9]:
# convert the integer 3 to a boolean
bool(3)

True

In [10]:
# convert the integer 1 to a boolean
bool(1)

True

In [11]:
# convert the integer 0 to a boolean
bool(0)

False

In [12]:
# convert the float 1.1 to a boolean
bool(1.1)

True

Do you think a negative number will be converted to `True` or `False`?

In [13]:
# convert the float -3.4 to a boolean
bool(-3.4)

True

What will a string be converted to?

In [14]:
# convert the string 'hello' to a boolean
bool('hello')

True

In [15]:
# check the type of the boolean version of 'hello' from the previous cell
type(bool('hello'))

bool

## Exercise

1. Create a string variable called `my_string` with the value `'two'`. 

1. Convert `my_string` to an boolean and assign the result to a variable called `my_bool`. 

1. Print the value of `my_bool` and check its type.  

1. Convert `my_bool` to an integer and assign the result to a variable called `my_int`.

Try to convert the original `my_string` variable to an integer directly. What happens?

In [16]:
# define my_string
my_string = 'two'
# convert my_string to a boolean 
my_bool = bool(my_string)

In [17]:
# print out the boolean value
my_bool

True

In [18]:
# check the type of the boolean value
type(my_bool)

bool

In [19]:
# convert the boolean variable to an integer
int(my_bool)

1

In [20]:
# Try to convert the original string value directly to an integer 
int(my_string)

ValueError: invalid literal for int() with base 10: 'two'