# Grouped Computations for DataFrames

In [1]:
import pandas as pd
gapminder = pd.read_csv('data/gapminder.csv')
# create a version of gapminder with only the numeric columns called `gapminder_numeric`
gapminder_numeric = gapminder.select_dtypes(include='number').copy()

### The `.groupby()` method

So far we have seen how to compute statistical summaries across an entire column, but sometimes we want to compute a summary separately for different groups (where the groups might be defined by the unique values in a column).

The code below uses the `.groupby()` method to compute the mean of each column separately for each `year` value:

In [2]:
# Apply the .mean() method to gapminder_numeric, but group by the 'year' column.
gapminder_numeric.groupby('year').mean()

        lifeExp           pop     gdpPercap
year
1952  49.057620  1.695040e+07   3725.276046
1957  51.507401  1.876341e+07   4299.408345
1962  53.609249  2.042101e+07   4725.812342
1967  55.678290  2.265830e+07   5483.653047
1972  57.647386  2.518998e+07   6770.082815
1977  59.570157  2.767638e+07   7313.166421
1982  61.533197  3.020730e+07   7518.901673
1987  63.212613  3.303857e+07   7900.920218
1992  64.160338  3.599092e+07   8158.608521
1997  65.014676  3.883947e+07   9090.175363
2002  65.694923  4.145759e+07   9917.848365
2007  67.007423  4.402122e+07  11680.071820

### Grouping by multiple columns

We can group by multiple columns at once by providing a *list* of the column names that we want to group by as the argument of the `.groupby()` method, and we can then extract a single column (if we choose) and compute the mean of it separately within each grouped combination. For example, the code below computes the mean `lifeExp` value for each year-continent combination:

In [3]:
# group by the year and continent columns and compute the mean of the lifeExp column
gapminder.groupby(['year', 'continent'])['lifeExp'].mean()

year  continent
1952  Africa       39.135500
      Americas     53.279840
      Asia         46.314394
      Europe       64.408500
      Oceania      69.255000
1957  Africa       41.266346
      Americas     55.960280
      Asia         49.318544
      Europe       66.703067
      Oceania      70.295000
1962  Africa       43.319442
      Americas     58.398760
      Asia         51.563223
      Europe       68.539233
      Oceania      71.085000
1967  Africa       45.334538
      Americas     60.410920
      Asia         54.663640
      Europe       69.737600
      Oceania      71.310000
1972  Africa       47.450942
      Americas     62.394920
      Asia         57.319269
      Europe       70.775033
      Oceania      71.910000
1977  Africa       49.580423
      Americas     64.391560
      Asia         59.610556
      Europe       71.937767
      Oceania      72.855000
1982  Africa       51.592865
      Americas     66.228840
      Asia         62.617939
      Europe       72.806400
      Oceania      74.290000
1987  Africa       53.344788
      Americas     68.090720
      Asia         64.851182
      Europe       73.642167
      Oceania      75.320000
1992  Africa       53.629577
      Americas     69.568360
      Asia         66.537212
      Europe       74.440100
      Oceania      76.945000
1997  Africa       53.598269
      Americas     71.150480
      Asia         68.020515
      Europe       75.505167
      Oceania      78.190000
2002  Africa       53.325231
      Americas     72.422040
      Asia         69.233879
      Europe       76.700600
      Oceania      79.740000
2007  Africa       54.806038
      Americas     73.608120
      Asia         70.728485
      Europe       77.648600
      Oceania      80.719500
Name: lifeExp, dtype: float64

### Exercise

1. Compute the maximum population for each country

2. Compute the mean gdpPercap for each continent averaged across all years after 1990

In [4]:
# compute the maximum population for each country
gapminder.groupby('country')['pop'].max()

country
Afghanistan           31889923
Albania                3600523
Algeria               33333216
Angola                12420476
Argentina             40301927
                        ...
Vietnam               85262356
West Bank and Gaza     4018332
Yemen, Rep.           22211743
Zambia                11746035
Zimbabwe              12311143
Name: pop, Length: 142, dtype: int64

In [5]:
# compute the mean gdpPercal for each continent averaged across all years after 1990
gapminder.query('year > 1990').groupby('continent')['gdpPercap'].mean()

continent
Africa       2587.246913
Americas     9306.236000
Asia        10280.225202
Europe      20726.140986
Oceania     25416.796842
Name: gdpPercap, dtype: float64